<div class="card bg-neutral text-neutral-content lg:card-side lg:rounded-none rounded-md shadow-xl">
  <figure>
    <%= image_tag anime.image_url, class: "w-full object-cover" %>
  </figure>

  <div class="card-body hidden">
    <h2 class="card-title"><%= anime.title %></h2>
    <p><%= truncate(anime.overview, length: 200, separator: " ", omission: " [Read more]") %></p>
    <p>Score: <%= anime.rating %></p>

    <div class="card-actions justify-end">
      <button class="btn btn-primary">Add to List</button>
    </div>
  </div>
</div>
